$font: "Montserrat", "Helvetica", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$text-dark: #252B42;
$text-date: #BDBDBD;
$text-preview: #858585;
$text-blue: #8EC2F2;
$text-tag: #8EC2F2;

$link: #2091F9;
$link-inactive: #737373;

$like-bkg: rgba(176, 176, 176, 0.46);

$bkg-blog: #FFF8F8;
$bkg-slider: #313958;


$mobile-width: 433px;

$tablet-width: 768px;

$desktop-width: 1200px;

$big-desktop-width: 1440px;



$nav-height: 112px;